body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* welcome participant */
.welcome_participant {
  color: orange;
  margin-left: 33.5%;
}

/* split screen */
.leftside,
.rightside {
  height: 100vh;
  width: 100%;
}

.rightside {
  background: orange;
}

/*Participant profile card*/
.participant-outer-container {
  height: 500px;
  width: 100vw;
  background-color: #e8e8e8;
}

.participant-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  align-items: center;
  text-align: center;
  height: 400px;
}

.participant-div {
  background-color: orange;

  /* background-image: linear-gradient(
    to right,
    #ffce00 50%,
    #ffce00 50%,
    #fe4880
  ); */
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-right: 50px;
}

/* Participant proflie card - Social Icons - */
.participant-social-icons {
  color: orange;
  justify-content: space-between;
  padding: 5px;
}

.participant-social-icons a {
  color: orange;
  justify-content: space-between;
  padding: 3px;
  font-size: 20px;
}

/* Login form */
.outer-container {
  height: 800px;
  width: 100vw;
  background-color: #e8e8e8;
}

.login-container {
  display: flex;
  justify-content: right;
  width: 100%;
  align-items: center;
}
.login {
  color: black;
}
.user-pass {
  font-size: 16px;
}
.login-div {
  background-color: orange;
  /* background-image: linear-gradient(
    to right,
    #ffce00 50%,
    #ffce00 50%,
    #fe4880
  ); */
  display: flex;
  align-items: center;

  padding: 10px;
  border-radius: 10px;
  margin-right: 50px;
}
form {
  display: block;
  position: relative;
}
.edit_profile_btn {
  background-color: orange;
  text-decoration: none;
  width: 80px;
  border-radius: 5px;
  text-align: center;
  height: 25px;
  float: left;
}
.edit_profile_btn .EditProfile {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.participant-logout-btn {
  float: right;
}

/* form:after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, #ffce00, #fe4880);
} */

form .form-inner {
  position: relative;
  display: block;
  background-color: #fff;
  border-radius: 10px;
  border: 5px solid purple;
  padding: 30px;
  z-index: 2;
  height: 370px;
}

form .form-inner h2 {
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

form .form-inner .form-group {
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

.form-inner .form-group label {
  display: block;
  color: #666;
  font-size: 15px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.form-inner .form-group:focus-within label {
  color: #fe4880;
}

form .form-inner .form-group input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border-radius: 8px;
  transition: 0.4s;
}

form .form-inner .form-group input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
form .form-inner button[type="submit"] {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: orange;
  /* background-image: linear-gradient(
    to right,
    #ffce00 50%,
    #ffce00 50%,
    #fe4880
  ); */
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

form .form-inner button[type="submit"]:hover {
  background-position: 100% 0%;
  background-color: orangered;
}

form .form-inner button[type="button"] {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: orange;
  /* background-image: linear-gradient(
    to right,
    #ffce00 50%,
    #ffce00 50%,
    #fe4880
  ); */
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

form .form-inner button[type="button"]:hover {
  background-position: 100% 0%;
  background-color: orangered;
}

/* Register Form */

.radio-button-employer {
  float: left;
}
.radio-button-participant {
  float: right;
}

/* Employer dashboard */

.employer-outer-container {
  height: 400px;
  width: 100vw;
  background-color: #e8e8e8;
}

.employer-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  align-items: center;
  text-align: center;
  height: 400px;
}

.employer-div {
  background-color: orange;

  /* background-image: linear-gradient(
    to right,
    #ffce00 50%,
    #ffce00 50%,
    #fe4880
  ); */
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-right: 50px;
}

/* Employer proflie card - Social Icons - */
.employer-social-icons {
  color: orange;
  justify-content: space-between;
  padding: 5px;
}

.employer-social-icons a {
  color: orange;
  justify-content: space-between;
  padding: 3px;
  font-size: 20px;
}

/* Employer search profiles buttong */
.search-profiles-btn .search-profiles-button {
  /* float: center; */
  /* margin-left: 550px; */
  text-decoration: none;
  background-color: orange;
  border-radius: 6px;
  padding: 4px;
  width: 110px;
  color: #fff;
  text-align: center;
  font-size: 15px;
}
.search-profiles-btn .search-profiles-button:hover {
  background-color: orangered;
  color: #fff;
}

/* Employer - profile card social icons */
.socialcard-social-icons {
  color: #fff;
  justify-content: space-between;
  padding: 5px;
}

.socialcard-social-icons a {
  color: #fff;
  justify-content: space-between;
  padding: 3px;
  font-size: 20px;
}
